Create your first Python Program

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("USA")
print("Japan")
print("UAE")

USA
Japan
UAE

In [ ]:
print(2*" Rahul")

 Rahul Rahul

In [ ]:
print("welcome to Pune")
print(4*"\n")
print("Happy Journey")

welcome to Pune





Happy Journey

In [ ]:
#   \n = new line

In [ ]:
print("Hello Rahul", end = "!!!!")

Hello Rahul!!!!

In [ ]:
print("Hello World", end = " @")

Hello World @

Variable = use to store the values and send the information to computer for processing

Different datatype in python = Number, List, Tuple, String, Dictionary, etc

In [ ]:
a = 100
print(a)

100

In [ ]:
#Declare variable
f = 0
print(f)
#re-declare variable
f = "Rahul"
print(f)

0
Rahul

Python String Concatenation and Variable

In [ ]:
print("Rahul" + 071999)

SyntaxError: ignored

In [ ]:
a = "Rahul"
b = 71999
print( a+str(b) )

#as string and integer directly can't concatenate hence we need to
# change variable to str(b)

Rahul71999

Python Data Types

In [ ]:
#Integer :A whole number, either positive or negative.
x = 5

In [ ]:
#float :A number with a decimal point.
y = 3.14

In [ ]:
#string :A sequence of characters enclosed in quotes (single or double).
name = "rahul"

In [ ]:
#boolean : A value that is either True or False.
a = True
b = False

print(a)
print(b)

True
False

In [ ]:
#list [] :An ordered collection of items, enclosed in square brackets.
#         can be mutuable (can be modified),
fruits = ["apple","banana","orange"]
print(fruits)

['apple', 'banana', 'orange']

In [ ]:
#Tuple (): Similar to a list, but enclosed in parentheses and immutable
#          (cannot be modified).
grades = (80,80,90)
print(grades)

(80, 80, 90)

In [ ]:
#Dictionary (dict): An unordered collection of key-value pairs,
#                   enclosed in curly braces.
person = {"name": "John", "age": 30}
print(person)

{'name': 'John', 'age': 30}

In [ ]:
a=1+2j
print(type(a))

<class 'complex'>

In [ ]:
a = -0.27
print(a)

-0.27

In [ ]:
a = 1e-3
print(type(a))

<class 'float'>

In [ ]:
print(4*"\nhello")

hello
hello
hello
hello

In [ ]:
print("she said \"hello\"")

she said "hello"

In [ ]:
print("a\tb")

a 	 b

In [ ]:
print("Hello world\nWelcome to the Environment!!!")

Hello world
Welcome to the Environment!!!

# **Day_1**

addition of string

In [ ]:
print(("Hello"+ " World"))

Hello World

input for string

In [ ]:
print(input("What is your name "))

What is your name Rahul Goraksha
Rahul Goraksha

In [ ]:
print("Hello" + " "+ input("What is your name ")+ " "+"\nWelcome to the Workspace!!!")

What is your name Rahul
Hello Rahul
Welcome to the Workspace!!!

In [ ]:
#input information is stored in variable x
x = input("What is your name ")

What is your name Rahul

In [ ]:
#information of variable x is retrived in this code
print("Hello" + " "+ x + " "+"\nWelcome to the Workspace!!!")

Hello Rahul
Welcome to the Workspace!!!

Python: Input Function Exercise

Question:
Write a program that asks the user to enter their name and age. The program should then print a message that says "Hello, [name]! You are [age] years old

In [ ]:
name = input("What is your name: ")
age = input("What is your Age: ")
print("Hello," +" "+name+"! You are"+" "+age+" "+ "years old.")

What is your name: Rahul
What is your Age: 4
Hello, Rahul! You are 4 years old.

In [ ]:
#len is used to measure the length of string
print(len("Rahul"))

5

In [ ]:
print(len(input("What is yopur name ")))

What is yopur name Rahul
5

Variable

In [ ]:
name = input("What is your name ")
length = len(name)
print(length)

What is your name Rahul
5

Python: Variable Exercise

Question:Write a program that calculates the area of a rectangle. The program should ask the user for the length and width of the rectangle, calculate the area, and then print a message that says "The area of the rectangle is [area]."

In [ ]:
print("Calculator: Area of Rectangle")
length = float(input("length of Rectangle:  "))
width = float(input("Width of Rectangle: "))
area = length * width
print("The area of the rectangle is" +" " +str(area))

Calculator: Area of Rectangle
length of Rectangle:  2.5
Width of Rectangle: 2.5
The area of the rectangle is 6.25

In [ ]:
#swap values of the input in the variable

a =input("a = ")
b =input("b = ")

print ("a =" +" "+ b)
print ("b =" +" "+ a)

a = 4
b = 5
a = 5
b = 4

In [ ]:
#band name generator
print("Welcome to the Band Name Generator")
name= (input("Whats the name of the name of the city you grew up in? "))
pet_name=(input("What is your pet name "))
print("Your band name could be :"+ " "+ name +" "+ pet_name)

Welcome to the Band Name Generator
Whats the name of the name of the city you grew up in? Dahisar
What is your pet name Ravi
Your band name could be : Dahisar Ravi

# **Day_2**

Data type, Number,Operator, Type of Conversion, F-string

In [ ]:
#string

In [ ]:
#to call 1st character of string
print("Hello"[0])

H

In [ ]:
#number are in the form of string that why concatenate
print("123"+"456")

123456

In [ ]:
#integer

In [ ]:
123

123

In [ ]:
123 + 123

246

In [ ]:
123_456_285

123456285

In [ ]:
#float

In [ ]:
3.1456

3.1456

In [ ]:
#boolean

In [ ]:
True

True

In [ ]:
False

False

In [ ]:
len(1236)

TypeError: ignored

In [ ]:
len("1236")

4

Python:Data Type

Question:.Write a program that add the two digit number .eg if the input is 39 then the output should be 3+9 = 12

In [ ]:
two_digit_number = input("Type a two digit number: ")
first_digit = two_digit_number[0]
first_digit
Second_digit = two_digit_number[1]
Second_digit
result = int(first_digit) + int(Second_digit)
result

Type a two digit number: 39

12

In [ ]:
#Mathematical Operator
+
-
/
*

In [ ]:
3 + 2

5

In [ ]:
3 -2

1

In [ ]:
3 * 2

6

In [ ]:
3 / 2   #to obtain the i/p in float

1.5

In [ ]:
3 // 2  #to obtain the o/p in int

1

In [ ]:
2**2 #power raised to

4

In [ ]:
# PEMDAS
(3*3 + 3/3 -3)

7.0

Python: Mathematical Operator

Questiobn Construct an Calculator for measuring BMI index

In [ ]:
print("Welcome to BMI Calculator")
Height = float(input("Enter your Height in m "))
Weight = float(input("Enter your weight in kg "))
Calculator= float(Weight) //float(Height**2)
print("Your BMI index is: "+ str(Calculator))

Welcome to BMI Calculator
Enter your Height in m 1.75
Enter your weight in kg 80
Your BMI index is: 26.0

In [ ]:
#round the number
print(round(8/3,3))

2.667

In [ ]:
print(round(2.66667,2))

2.67

In [ ]:
result = 4/2
result /=2
print(int(result))

1

In [ ]:
score = 0
# User score a point
score += 1
print(score)

1

Python: Tip Calculator

Question: Design Tip Calculator

In [ ]:
print("Welcome to the tip Calculator.")
bill =float(input("What was the total bill? $ "))
tip = int(input("What percenatge tip would you like to give? 10, 12 or 15? "))
people=int(input("How many people to split the bill? "))
tip_percentage = tip/100
total_tip = bill * tip_percentage
total_bill = bill + total_tip
bill_per_person = total_bill / people
final_bill = round(bill_per_person,2)
print("Each person should pay: $" + str(final_bill))

Welcome to the tip Calculator.
What was the total bill? $ 124.56
What percenatge tip would you like to give? 10, 12 or 15? 12
How many people to split the bill? 7
Each person should pay: $19.93

# Day_3

Conditional statem,ent, logical statement, code blocks and scope

In [ ]:
# if else comdition
water_level = 50
if water_level > 80:
  print("drain water")
else:
  print("continue")

continue

In [ ]:
# example

a = int(input("enter the first_number:   "))

b = int(input("enter the Second_number:   "))

if  a > 10:
  print(a + b)
else:
  print(a - b)

enter the first_number:   10
enter the Second_number:   2
8

In [ ]:
print("Welcome to the roller coaster")
height = int(input("Enter your height in cm: "))
if height >= 120:
  print("Can ride")
else:
  print("Can't ride")

Welcome to the roller coaster
Enter your height in cm: 120
Can ride

operator

In [ ]:
> greater than
< lesser than
>= greater than equal to
<= lesser than equal to
== equal to
!= not equal to

Python: Odd or even exercise

Question: Classiy the odd and even number

In [ ]:
% = modula : reminder of division

In [ ]:
number = int(input("Enter the number: "))
if number % 2 == 0:
  print("Number is Even")
else:
  print("Number is odd")

Enter the number: 2
Number is Even

In [ ]:
# nested if/else statement and elif statement

print("Welcome to the roller coaster")
height = int(input("Enter your height in cm: "))
if height >= 120:
  print("Can ride")
  age = int(input("Enter your age: "))
  if age > 18:
    print("cost of ticket is $12")
  elif age <= 18:
    print("cost of ticket is $7")
  else:
    print("cost of ticket is $7")
else:
  print("Can't ride")

Welcome to the roller coaster
Enter your height in cm: 120
Can ride
Enter your age: 19
cost of ticket is $12

In [ ]:
# example

a = int(input("enter the first_number:   "))

b = int(input("enter the Second_number:   "))

choice = input("Enter the choice of operation:  ")


if  choice == "+":
  print(a + b)
elif  choice  == "-":
  print(a - b)
elif  choice  == "*":
  print(a * b)
elif  choice == "/":
  print(a / b)
else:
  print("Wrong choice of operation selected")

enter the first_number:   5
enter the Second_number:   4
Enter the choice of operation:  @
Wrong choice of operation selected

Python: BMI 2.0 Calculator

Question construct bmi calculator using if,elif else condition

In [ ]:
print("Welcome to BMI 2.0 Calculator")

height = float(input("Enter your height in m: "))
weight = float(input("Enter your weight in kg: "))

bmi_cal = float(weight) / float(height **2)
int(bmi_cal)

if bmi_cal < 18.5:
  print("underweight")
elif bmi_cal < 25:
  print("normal weight")
elif bmi_cal < 30:
  print("overwieght")
elif bmi_cal < 35:
  print("obese")
else:
  print("clinically obese")

Welcome to BMI 2.0 Calculator
Enter your height in m: 1.75
Enter your weight in kg: 80
overwieght

Python: Leap Year Exercise

Question:

In [ ]:
print("Welcome to the Leap Year Bot")

year = int(input("Enter the the year:  "))

if year % 4 == 0:
  print("year is a leap year")
else:
  print("Mentioned year is not a leap year")

Welcome to the Leap Year Bot
Enter the the year:  1989
Mentioned year is not a leap year

Multiple If Statement in succession

In [ ]:
print("Welcome to the roller coaster")
height = int(input("Enter your height in cm: "))

bill = 0

if height >= 120:
  print("you can ride")
  age = int(input("what is ur age? "))
  if age < 12:
    bill = 5
    print("pay $ 5")
  elif age <= 18:
    bill = 7
    print("pay $ 7")
  else:
    bill = 12
    print("pay $ 12")
  want_photo = input("Do you want photo? Y or N  ")
  if want_photo == "Y":
    bill += 3
    print("final bill is $: " + str(bill))

else:
  print("can't ride")

Welcome to the roller coaster
Enter your height in cm: 120
you can ride
what is ur age? 18
pay $ 7
Do you want photo? Y or N  Y
final bill is $: 10

Python: Pizza Order Exercise

Question using if/else elif condition

In [ ]:
print("Welcome to Python Pizza Deliveries")

bill = 0

size  = input("What size pizza do you want?: S, M, L ")
if size == "S":
  bill = 15
  print("Small size Pizza: $15")
elif size == "M":
    bill = 20
    print("Medium size pizza : $20")
elif size == "L":
  bill = 25
  print("Large size pizza: $25")
add_spice = input("Do you want pepperoni?: Y or N ")
if size == "S" and add_spice == "Y":
  bill += 2
  print("Total Bill " + str(bill))
else:
  bill += 3
  print("Total Code " + str(bill))
cheese = input("want extra cheese:  Y or N ")
if cheese == "Y":
  bill += 1
  print("Your final bill is $" + str(bill))

Welcome to Python Pizza Deliveries
What size pizza do you want?: S, M, L L
Large size pizza: $25
Do you want pepperoni?: Y or N Y
Total Code 28
want extra cheese:  Y or N Y
Your final bill is $29

Logical Operator

A and B

A or B

not E

Python: Love Calculator Exercise

Question:

In [ ]:
print("Welcome to the love calculator")

name_1 = input("what is your name? \n")
name_2 = input("what is their name? \n")

add = name_1 + name_2
lower = add.lower()

t = lower.count("t")
r = lower.count("r")
u = lower.count("u")
e = lower.count("e")
true = t + r + u + e

l = lower.count("l")
o = lower.count("o")
v = lower.count("v")
e = lower.count("e")
love = l + o + v + e

score = int(str(true) + str(love))
print(score)

if (score < 10) or (score > 90):
  print("Your score is "+ score + ", You go together like coke and mentos")
elif 40 < score < 50:
  print("Your score is "+ str(score)+ ", You alright together")
else:print("Print final love score "+ str(score))

Welcome to the love calculator
what is your name?
Rahul Goraksha
what is their name?
Arpita Goraksha
63
Print final love score 63

# Day_4

Radomisation and Python List

In [ ]:
#random int generator

import random
random_int = random.randint(1,10)
print(random_int)

7

In [ ]:
#random float generatolr

random_float = random.random()
print(random_float)

0.06498480227080816

In [ ]:
random_float * 5

0.3249240113540408

Python: Heads or Tail

In [ ]:
import random

random_side = random.randint(0,1)

if random_side == 1:
  print("Heads")
else:
  print("Tails")

Heads

List  [ ]

In [ ]:
#to craete list an call individual element by index number

family = ["Rahul","Ajit","Arpita","Supriya","Rahulg","Radha","Genaya","Jeet","Yash","Raju","Seema","Vimal"]
print(family[0])

Rahul

In [ ]:
#replace any individual element from list

family[0] = "Dada"
family

['Dada',
 'Ajit',
 'Arpita',
 'Supriya',
 'Rahulg',
 'Radha',
 'Genaya',
 'Jeet',
 'Yash',
 'Raju',
 'Seema',
 'Vimal']

In [ ]:
#add additional element into list using append

family.append("Rahul")
family

['Dada',
 'Ajit',
 'Arpita',
 'Supriya',
 'Rahulg',
 'Radha',
 'Genaya',
 'Jeet',
 'Yash',
 'Raju',
 'Seema',
 'Vimal',
 'Rahul',
 'Rahul']

In [ ]:
#add bunch of element into a list using extend

family.extend(["box","tv","sofa","bed"])
family

['Dada',
 'Ajit',
 'Arpita',
 'Supriya',
 'Rahulg',
 'Radha',
 'Genaya',
 'Jeet',
 'Yash',
 'Raju',
 'Seema',
 'Vimal',
 'Rahul',
 'Rahul',
 'box',
 'tv',
 'sofa',
 'bed']

Python: Banker Roulette - Who will pay the bill?

In [ ]:
import random

names = ["Angela","Ben","Jerry","Michael","Chloe"]

random_friends =random.choice(names)
print(random_friends + " is going to buy the meal today!")

Ben is going to buy the meal today!

In [ ]:
#compile the lists in one list

boy = ["rahul","ajit"]
girl = ["Arpita","Supriya"]

family = [boy,girl]
family

[['rahul', 'ajit'], ['Arpita', 'Supriya']]

# Day_5

In [ ]:
# using for loop with python list


fruits = ["Apple","Peach","Pear"]
for fruit in fruits:
  print(fruit)

Apple
Peach
Pear

In [ ]:
# example

message = "Hello World"

for char in message:
  print(char)

H
e
l
l
o

W
o
r
l
d

In [ ]:
# example

for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
# example

word ="Asdpect"

for letter in word:
  print(letter)

A
s
d
p
e
c
t

In [ ]:
# finding sum of

num_list = [1,2,3,4,5,6]

sum = 0

for num in num_list:
  sum = (sum + num)
  print(sum)

1
3
6
10
15
21

Python: Average height of Student

In [ ]:
student_heights = [180,124,165,173,189,169,146]

no_students = len(student_heights)
total_height = 0

for height in student_heights:
  total_height += height
avg_height = round(total_height / no_students)

print("Average height of students: "+ str(avg_height))

Average height of students: 164

Python: Highest Score

In [ ]:
student_score = [78,65,89,86,55,91,64,89]

print("The highest score in the class is: " + str(max(student_score)))

The highest score in the class is: 91

for loop and range function

In [ ]:
# for loop with range

for number in range(1,11):
  print(number)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for number in range(1,11,3 ):
  print(number)

1
4
7
10

In [ ]:
total_number = 0

for number in range(1,101):
  total_number += number
print(total_number)

5050

Python: Adding Even Number Exercise

In [ ]:
total = 0
for number in range(2,101,2):
  total += number
print(total)

2550

In [ ]:
total1 = 0
for number in range(1,101):
  if number%2 ==0:
    total1 += number
print(total1)

2550

Python: Fizz Buzz Game Exercise

In [ ]:
for number in range(1,101):
  if number % 3 == 0 and number % 5 == 0:
    print("FizzBuzz")
  elif number % 3 == 0:
    print("Fizz")
  elif number % 5 == 0:
    print("Buzz")
  else:
    print(number)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

Python: Password Generator

In [ ]:
import random

letter = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
number = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
symbols = ['!', '@', '#', '$', '%', '^', '&', '*', '(', ')', '_', '+', '-', '=', '[', ']', '{', '}', '|', '\\', ';', ':', '\'', '\"', ',', '.', '<', '>', '/', '?']

print("Welcome to the Password Generator!")

letter_1 = int(input("Enter the number of letter you would like in password: \n"))

number_1 = int(input("Enter the number would like in password: \n"))

symbols_1 = int(input("Enter the number of letter you would like in password: \n"))


password = ""

for char in range(1, letter_1 + 1):
  password += random.choice(letter)

for char in range(1, symbols_1 + 1):
   password += random.choice(symbols)

for char in range(1, number_1 + 1):
  password += random.choice(number)

print(password)

Welcome to the Password Generator!
Enter the number of letter you would like in password:
2
Enter the number would like in password:
2
Enter the number of letter you would like in password:
2

TypeError: ignored

In [ ]:
import random

x = [1,2,3,4,5,6]
random.shuffle(x)
x

[1, 3, 4, 5, 6, 2]

# Day_6

Function, Code Block, While loop

In [ ]:
def my_function():
  print("Hello World")
  print("How are you")

my_function()

Hello World
How are you

In [ ]:
# while loop

i = 1
j = 1
while i <= 5:
  print("Hello" , i)
  i += 1
while j <= 4:
  print("Hello Rocks",j)
  j += 1

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello Rocks 1
Hello Rocks 2
Hello Rocks 3
Hello Rocks 4

In [ ]:
i = 0

while i <= 45:
  print(i)
  i +=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45

In [ ]:
count = 0

while count <= 10:
  print("Number Series from 0 to 10: ", count)
  count += 1

print("Task Done Successfully!")

Number Series from 0 to 10:  0
Number Series from 0 to 10:  1
Number Series from 0 to 10:  2
Number Series from 0 to 10:  3
Number Series from 0 to 10:  4
Number Series from 0 to 10:  5
Number Series from 0 to 10:  6
Number Series from 0 to 10:  7
Number Series from 0 to 10:  8
Number Series from 0 to 10:  9
Number Series from 0 to 10:  10
Task Done Successfully!

##Exercise - Guru 99

**Tuple**-  Pack, Unpack,Compare, Slicing, Delete, Key

In [ ]:
# Tuple list

tup = ("Jan","Feb","March","Jun","Jul","Mar")

In [ ]:
# Tuple Indexing

tup[0]

'Jan'

In [ ]:
# Tuple slicing

tup[1:4]

('Feb', 'March', 'Jun')

To write an empty tuple, you need to write as two parentheses containing nothing-

In [ ]:
tup1 = (50,);

Comparing tuples

In [ ]:
# Tuple Comparing

a = (0,3)
b =(1,4)

if a > b:
  print("a is bigger")
else:
  print("b is bigger")

b is bigger

In [ ]:
a=(5,6)
b=(5,4)
if (a>b):print("a is bigger")
else: print ("b is bigger")

a is bigger

Tuples are immutable and cannot be deleted. You cannot delete or remove items from a tuple. But deleting tuple entirely is possible by using the keyword

In [ ]:
#  Tuple slicing
x = ("a","b","c","d","e","f")

print(x[2:4])

('c', 'd')

In [ ]:
x =("Guru99",20,"Education")  #tuple packing
company ,  employees, profile = x  #tuple unpacking
print(company)
print(employees)
print(profile)

Guru99
20
Education

In [ ]:
# Tuple Unpacking
person = ('John', 25, 'USA')
name, age, country = person
print(name)    # Output: 'John'
print(age)     # Output: 25
print(country) # Output: 'USA'

John
25
USA

In [ ]:
# tuple dictionaries

id = {"Rahul":256,"Jeet":946}

a = id.items()
print(a)

dict_items([('Rahul', 256), ('Jeet', 946)])

Tuple Summary:

Python has tuple assignment feature which enables you to assign more than one variable at a time.

Packing and Unpacking of Tuples
In packing, we place value into a new tuple while in unpacking we extract those values back into variables.
A comparison operator in Python can work with tuples.
Using tuples as keys in dictionaries
Tuples are hashable, and list are not
We must use tuple as the key if we need to create a composite key to use in a dictionary
Dictionary can return the list of tuples by calling items, where each tuple is a key value pair
Tuples are immutable and cannot be deleted. You cannot delete or remove items from a tuple. But deleting tuple entirely is possible by using the keyword del
To fetch specific sets of sub-elements from tuple or list, we use this unique function called slicing

In [ ]:
# Dictionary

Dict = {"tom":18,"Jerry":20}

print(Dict)

{'tom': 18, 'Jerry': 20}